*{
    margin:0;
    padding:0;
}
body{
    background-color: #5ba5db87;
    font-family: "Red Hat Display", sans-serif;
}
table{
    display: flex;
    align-items: center;
    justify-content: center;
}
.result_text{
    color: #fff;
}
.calculator{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 15px;
    /* border: 5px solid red; */
    overflow: hidden;
}

.screen{
    height: 150px;
    background: #001e34;
    margin: 20px 20px 20px 20px;
    /* border: 5px solid pink; */
    margin: auto;
}


.screenContent {
    text-align: end;
    padding: 17px;
    font-size: 30px;
    /* border: 5px solid yellow; */
    user-select: none;
}

.calculation{
    font-size: 12px;
    color: white;
    overflow: auto;
    /* border: 5px solid greenyellow; */
    padding-top: 2rem;
}

.result{
    font-size: 2.5rem;
    padding-top: 1rem;
    /* border: 5px solid brown; */
    color: #fff;
}
.history-button{
            margin-top: 0.7rem;
            display:inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            position:cent;
            text-align: center; 
            display: block;
            /* transition: background-color 0.8s ease; */

}

table{
    background-color: #001e34;
    border-collapse: collapse;
    /* border: 5px solid aqua; */
    
}

tr,td{
    border: 0.2px solid black;
    border-collapse: collapse;
}
.btn{
    width: 50px;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
    border: none;
    background: #002b4a;
    color: white;
    /* border: 5px solid yellow; */
    outline: none;
}

.operator{
    color: #0dfb05;
    font-family: "Fira Sans", sans-serif;
}

.math{
    color: #8a61fb;
    font-family: "Fira Sans", sans-serif;
}
.history-button:hover,input[type="button"]:hover{
    background-color: #ffa800;
    color: #fff;
    transition: all 0.5s linear;
}